
.no-bg {
    background: 0 0 !important;
}

.bg-danger {
    background: #FF3B30 !important;
    color: #fff !important;
}

.bg-danger-transparent-9 {
    background: rgba(255, 59, 48, 0.9) !important;
    color: #fff !important;
}

.bg-danger-transparent-8 {
    background: rgba(255, 59, 48, 0.8) !important;
    color: #fff !important;
}

.bg-danger-transparent-7 {
    background: rgba(255, 59, 48, 0.7) !important;
    color: #fff !important;
}

.bg-danger-transparent-6 {
    background: rgba(255, 59, 48, 0.6) !important;
    color: #fff !important;
}

.bg-danger-transparent-5 {
    background: rgba(255, 59, 48, 0.5) !important;
    color: #fff !important;
}

.bg-danger-transparent-4 {
    background: rgba(255, 59, 48, 0.4) !important;
    color: #fff !important;
}

.bg-danger-transparent-3 {
    background: rgba(255, 59, 48, 0.3) !important;
    color: #fff !important;
}

.bg-danger-transparent-2 {
    background: rgba(255, 59, 48, 0.2) !important;
    color: #fff !important;
}

.bg-danger-transparent-1 {
    background: rgba(255, 59, 48, 0.1) !important;
    color: #fff !important;
}

.bg-warning {
    background: #FF9500 !important;
    color: #fff !important;
}

.bg-warning-transparent-9 {
    background: rgba(255, 149, 0, 0.9) !important;
    color: #fff !important;
}

.bg-warning-transparent-8 {
    background: rgba(255, 149, 0, 0.8) !important;
    color: #fff !important;
}

.bg-warning-transparent-7 {
    background: rgba(255, 149, 0, 0.7) !important;
    color: #fff !important;
}

.bg-warning-transparent-6 {
    background: rgba(255, 149, 0, 0.6) !important;
    color: #fff !important;
}

.bg-warning-transparent-5 {
    background: rgba(255, 149, 0, 0.5) !important;
    color: #fff !important;
}

.bg-warning-transparent-4 {
    background: rgba(255, 149, 0, 0.4) !important;
    color: #fff !important;
}

.bg-warning-transparent-3 {
    background: rgba(255, 149, 0, 0.3) !important;
    color: #fff !important;
}

.bg-warning-transparent-2 {
    background: rgba(255, 149, 0, 0.2) !important;
    color: #fff !important;
}

.bg-warning-transparent-1 {
    background: rgba(255, 149, 0, 0.1) !important;
    color: #fff !important;
}

.bg-yellow {
    background: #FC0 !important;
    color: #000 !important;
}

.bg-yellow-transparent-9 {
    background: rgba(255, 204, 0, 0.9) !important;
    color: #fff !important;
}

.bg-yellow-transparent-8 {
    background: rgba(255, 204, 0, 0.8) !important;
    color: #fff !important;
}

.bg-yellow-transparent-7 {
    background: rgba(255, 204, 0, 0.7) !important;
    color: #fff !important;
}

.bg-yellow-transparent-6 {
    background: rgba(255, 204, 0, 0.6) !important;
    color: #fff !important;
}

.bg-yellow-transparent-5 {
    background: rgba(255, 204, 0, 0.5) !important;
    color: #fff !important;
}

.bg-yellow-transparent-4 {
    background: rgba(255, 204, 0, 0.4) !important;
    color: #fff !important;
}

.bg-yellow-transparent-3 {
    background: rgba(255, 204, 0, 0.3) !important;
    color: #fff !important;
}

.bg-yellow-transparent-2 {
    background: rgba(255, 204, 0, 0.2) !important;
    color: #fff !important;
}

.bg-yellow-transparent-1 {
    background: rgba(255, 204, 0, 0.1) !important;
    color: #fff !important;
}

.bg-success {
    background: #4CD964 !important;
    color: #fff !important;
}

.bg-success-transparent-9 {
    background: rgba(76, 217, 100, 0.9) !important;
    color: #fff !important;
}

.bg-success-transparent-8 {
    background: rgba(76, 217, 100, 0.8) !important;
    color: #fff !important;
}

.bg-success-transparent-7 {
    background: rgba(76, 217, 100, 0.7) !important;
    color: #fff !important;
}

.bg-success-transparent-6 {
    background: rgba(76, 217, 100, 0.6) !important;
    color: #fff !important;
}

.bg-success-transparent-5 {
    background: rgba(76, 217, 100, 0.5) !important;
    color: #fff !important;
}

.bg-success-transparent-4 {
    background: rgba(76, 217, 100, 0.4) !important;
    color: #fff !important;
}

.bg-success-transparent-3 {
    background: rgba(76, 217, 100, 0.3) !important;
    color: #fff !important;
}

.bg-success-transparent-2 {
    background: rgba(76, 217, 100, 0.2) !important;
    color: #fff !important;
}

.bg-success-transparent-1 {
    background: rgba(76, 217, 100, 0.1) !important;
    color: #fff !important;
}

.bg-info {
    background: #5AC8FA !important;
    color: #fff !important;
}

.bg-info-transparent-9 {
    background: rgba(90, 200, 250, 0.9) !important;
    color: #fff !important;
}

.bg-info-transparent-8 {
    background: rgba(90, 200, 250, 0.8) !important;
    color: #fff !important;
}

.bg-info-transparent-7 {
    background: rgba(90, 200, 250, 0.7) !important;
    color: #fff !important;
}

.bg-info-transparent-6 {
    background: rgba(90, 200, 250, 0.6) !important;
    color: #fff !important;
}

.bg-info-transparent-5 {
    background: rgba(90, 200, 250, 0.5) !important;
    color: #fff !important;
}

.bg-info-transparent-4 {
    background: rgba(90, 200, 250, 0.4) !important;
    color: #fff !important;
}

.bg-info-transparent-3 {
    background: rgba(90, 200, 250, 0.3) !important;
    color: #fff !important;
}

.bg-info-transparent-2 {
    background: rgba(90, 200, 250, 0.2) !important;
    color: #fff !important;
}

.bg-info-transparent-1 {
    background: rgba(90, 200, 250, 0.1) !important;
    color: #fff !important;
}

.bg-primary {
    background: #007AFF !important;
    color: #fff !important;
}

.bg-primary-transparent-9 {
    background: rgba(0, 122, 255, 0.9) !important;
    color: #fff !important;
}

.bg-primary-transparent-8 {
    background: rgba(0, 122, 255, 0.8) !important;
    color: #fff !important;
}

.bg-primary-transparent-7 {
    background: rgba(0, 122, 255, 0.7) !important;
    color: #fff !important;
}

.bg-primary-transparent-6 {
    background: rgba(0, 122, 255, 0.6) !important;
    color: #fff !important;
}

.bg-primary-transparent-5 {
    background: rgba(0, 122, 255, 0.5) !important;
    color: #fff !important;
}

.bg-primary-transparent-4 {
    background: rgba(0, 122, 255, 0.4) !important;
    color: #fff !important;
}

.bg-primary-transparent-3 {
    background: rgba(0, 122, 255, 0.3) !important;
    color: #fff !important;
}

.bg-primary-transparent-2 {
    background: rgba(0, 122, 255, 0.2) !important;
    color: #fff !important;
}

.bg-primary-transparent-1 {
    background: rgba(0, 122, 255, 0.1) !important;
    color: #fff !important;
}

.bg-purple {
    background: #5856D6 !important;
    color: #fff !important;
}

.bg-purple-transparent-9 {
    background: rgba(88, 86, 214, 0.9) !important;
    color: #fff !important;
}

.bg-purple-transparent-8 {
    background: rgba(88, 86, 214, 0.8) !important;
    color: #fff !important;
}

.bg-purple-transparent-7 {
    background: rgba(88, 86, 214, 0.7) !important;
    color: #fff !important;
}

.bg-purple-transparent-6 {
    background: rgba(88, 86, 214, 0.6) !important;
    color: #fff !important;
}

.bg-purple-transparent-5 {
    background: rgba(88, 86, 214, 0.5) !important;
    color: #fff !important;
}

.bg-purple-transparent-4 {
    background: rgba(88, 86, 214, 0.4) !important;
    color: #fff !important;
}

.bg-purple-transparent-3 {
    background: rgba(88, 86, 214, 0.3) !important;
    color: #fff !important;
}

.bg-purple-transparent-2 {
    background: rgba(88, 86, 214, 0.2) !important;
    color: #fff !important;
}

.bg-purple-transparent-1 {
    background: rgba(88, 86, 214, 0.1) !important;
    color: #fff !important;
}

.bg-pink {
    background: #FF2D55 !important;
    color: #fff !important;
}

.bg-pink-transparent-9 {
    background: rgba(255, 45, 85, 0.9) !important;
    color: #fff !important;
}

.bg-pink-transparent-8 {
    background: rgba(255, 45, 85, 0.8) !important;
    color: #fff !important;
}

.bg-pink-transparent-7 {
    background: rgba(255, 45, 85, 0.7) !important;
    color: #fff !important;
}

.bg-pink-transparent-6 {
    background: rgba(255, 45, 85, 0.6) !important;
    color: #fff !important;
}

.bg-pink-transparent-5 {
    background: rgba(255, 45, 85, 0.5) !important;
    color: #fff !important;
}

.bg-pink-transparent-4 {
    background: rgba(255, 45, 85, 0.4) !important;
    color: #fff !important;
}

.bg-pink-transparent-3 {
    background: rgba(255, 45, 85, 0.3) !important;
    color: #fff !important;
}

.bg-pink-transparent-2 {
    background: rgba(255, 45, 85, 0.2) !important;
    color: #fff !important;
}

.bg-pink-transparent-1 {
    background: rgba(255, 45, 85, 0.1) !important;
    color: #fff !important;
}

.bg-grey {
    background: #8a8a8f !important;
    color: #fff !important;
}

.bg-grey-transparent-9 {
    background: rgba(138, 138, 143, 0.9) !important;
    color: #fff !important;
}

.bg-grey-transparent-8 {
    background: rgba(138, 138, 143, 0.8) !important;
    color: #fff !important;
}

.bg-grey-transparent-7 {
    background: rgba(138, 138, 143, 0.7) !important;
    color: #fff !important;
}

.bg-grey-transparent-6 {
    background: rgba(138, 138, 143, 0.6) !important;
    color: #fff !important;
}

.bg-grey-transparent-5 {
    background: rgba(138, 138, 143, 0.5) !important;
    color: #fff !important;
}

.bg-grey-transparent-4 {
    background: rgba(138, 138, 143, 0.4) !important;
    color: #fff !important;
}

.bg-grey-transparent-3 {
    background: rgba(138, 138, 143, 0.3) !important;
    color: #fff !important;
}

.bg-grey-transparent-2 {
    background: rgba(138, 138, 143, 0.2) !important;
    color: #fff !important;
}

.bg-grey-transparent-1 {
    background: rgba(138, 138, 143, 0.1) !important;
    color: #fff !important;
}

.bg-muted {
    background: #C7C7CC !important;
    color: #fff !important;
}

.bg-muted-transparent-9 {
    background: rgba(200, 199, 204, 0.9) !important;
    color: #fff !important;
}

.bg-muted-transparent-8 {
    background: rgba(200, 199, 204, 0.8) !important;
    color: #fff !important;
}

.bg-muted-transparent-7 {
    background: rgba(200, 199, 204, 0.7) !important;
    color: #fff !important;
}

.bg-muted-transparent-6 {
    background: rgba(200, 199, 204, 0.6) !important;
    color: #fff !important;
}

.bg-muted-transparent-5 {
    background: rgba(200, 199, 204, 0.5) !important;
    color: #fff !important;
}

.bg-muted-transparent-4 {
    background: rgba(200, 199, 204, 0.4) !important;
    color: #fff !important;
}

.bg-muted-transparent-3 {
    background: rgba(200, 199, 204, 0.3) !important;
    color: #fff !important;
}

.bg-muted-transparent-2 {
    background: rgba(200, 199, 204, 0.2) !important;
    color: #fff !important;
}

.bg-muted-transparent-1 {
    background: rgba(200, 199, 204, 0.1) !important;
    color: #fff !important;
}

.bg-inverse {
    background: #000 !important;
    color: #fff !important;
}

.bg-inverse-transparent-9 {
    background: rgba(0, 0, 0, 0.9) !important;
    color: #fff !important;
}

.bg-inverse-transparent-8 {
    background: rgba(0, 0, 0, 0.8) !important;
    color: #fff !important;
}

.bg-inverse-transparent-7 {
    background: rgba(0, 0, 0, 0.7) !important;
    color: #fff !important;
}

.bg-inverse-transparent-6 {
    background: rgba(0, 0, 0, 0.6) !important;
    color: #fff !important;
}

.bg-inverse-transparent-5 {
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
}

.bg-inverse-transparent-4 {
    background: rgba(0, 0, 0, 0.4) !important;
    color: #fff !important;
}

.bg-inverse-transparent-3 {
    background: rgba(0, 0, 0, 0.3) !important;
    color: #fff !important;
}

.bg-inverse-transparent-2 {
    background: rgba(0, 0, 0, 0.2) !important;
    color: #fff !important;
}

.bg-inverse-transparent-1 {
    background: rgba(0, 0, 0, 0.1) !important;
    color: #fff !important;
}

.bg-white {
    background: #fff !important;
    color: #000 !important;
}

.bg-white-transparent-9 {
    background: rgba(255, 255, 255, 0.9) !important;
    color: #fff !important;
}

.bg-white-transparent-8 {
    background: rgba(255, 255, 255, 0.8) !important;
    color: #fff !important;
}

.bg-white-transparent-7 {
    background: rgba(255, 255, 255, 0.7) !important;
    color: #fff !important;
}

.bg-white-transparent-6 {
    background: rgba(255, 255, 255, 0.6) !important;
    color: #fff !important;
}

.bg-white-transparent-5 {
    background: rgba(255, 255, 255, 0.5) !important;
    color: #fff !important;
}

.bg-white-transparent-4 {
    background: rgba(255, 255, 255, 0.4) !important;
    color: #fff !important;
}

.bg-white-transparent-3 {
    background: rgba(255, 255, 255, 0.3) !important;
    color: #fff !important;
}

.bg-white-transparent-2 {
    background: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
}

.bg-white-transparent-1 {
    background: rgba(255, 255, 255, 0.1) !important;
    color: #fff !important;
}

.bg-gradient-pink {
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
    color: #fff !important;
}

.bg-gradient-red {
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
    color: #fff !important;
    background: -moz-linear-gradient(top, #ff5160 0, #ff2c55 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff5160), color-stop(100%, #ff2c55)) !important;
    background: -webkit-linear-gradient(top, #ff5160 0, #ff2c55 100%) !important;
    background: -o-linear-gradient(top, #ff5160 0, #ff2c55 100%) !important;
    background: -ms-linear-gradient(top, #ff5160 0, #ff2c55 100%) !important;
    background: linear-gradient(to bottom, #ff5160 0, #ff2c55 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5160', endColorstr='#ff2c55', GradientType=0) !important;
}

.bg-gradient-pink {
    background: -moz-linear-gradient(top, #fe74b2 0, #f32d20 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fe74b2), color-stop(100%, #f32d20)) !important;
    background: -webkit-linear-gradient(top, #fe74b2 0, #f32d20 100%) !important;
    background: -o-linear-gradient(top, #fe74b2 0, #f32d20 100%) !important;
    background: -ms-linear-gradient(top, #fe74b2 0, #f32d20 100%) !important;
    background: linear-gradient(to bottom, #fe74b2 0, #f32d20 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fe74b2', endColorstr='#f32d20', GradientType=0) !important;
}

.bg-gradient-red-orange,
.bg-gradient-yellow {
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
}

.bg-gradient-red-orange {
    color: #fff !important;
    background: -moz-linear-gradient(top, #e61c34 0, #f2bb20 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e61c34), color-stop(100%, #f2bb20)) !important;
    background: -webkit-linear-gradient(top, #e61c34 0, #f2bb20 100%) !important;
    background: -o-linear-gradient(top, #e61c34 0, #f2bb20 100%) !important;
    background: -ms-linear-gradient(top, #e61c34 0, #f2bb20 100%) !important;
    background: linear-gradient(to bottom, #e61c34 0, #f2bb20 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e61c34', endColorstr='#f2bb20', GradientType=0) !important;
}

.bg-gradient-yellow {
    color: #000 !important;
    background: -moz-linear-gradient(top, #fdd444 0, #f89516 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdd444), color-stop(100%, #f89516)) !important;
    background: -webkit-linear-gradient(top, #fdd444 0, #f89516 100%) !important;
    background: -o-linear-gradient(top, #fdd444 0, #f89516 100%) !important;
    background: -ms-linear-gradient(top, #fdd444 0, #f89516 100%) !important;
    background: linear-gradient(to bottom, #fdd444 0, #f89516 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdd444', endColorstr='#f89516', GradientType=0) !important;
}

.bg-gradient-orange,
.bg-gradient-orange-dark {
    color: #fff !important;
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
}

.bg-gradient-orange {
    background: -moz-linear-gradient(top, #f7b90c 0, #f68213 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7b90c), color-stop(100%, #f68213)) !important;
    background: -webkit-linear-gradient(top, #f7b90c 0, #f68213 100%) !important;
    background: -o-linear-gradient(top, #f7b90c 0, #f68213 100%) !important;
    background: -ms-linear-gradient(top, #f7b90c 0, #f68213 100%) !important;
    background: linear-gradient(to bottom, #f7b90c 0, #f68213 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7b90c', endColorstr='#f68213', GradientType=0) !important;
}

.bg-gradient-orange-dark {
    background: -moz-linear-gradient(top, #ffa600 0, #f76a23 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffa600), color-stop(100%, #f76a23)) !important;
    background: -webkit-linear-gradient(top, #ffa600 0, #f76a23 100%) !important;
    background: -o-linear-gradient(top, #ffa600 0, #f76a23 100%) !important;
    background: -ms-linear-gradient(top, #ffa600 0, #f76a23 100%) !important;
    background: linear-gradient(to bottom, #ffa600 0, #f76a23 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffa600', endColorstr='#f76a23', GradientType=0) !important;
}

.bg-gradient-green,
.bg-gradient-green-light {
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
    color: #fff !important;
}

.bg-gradient-green {
    background: -moz-linear-gradient(top, #68fb86 1%, #0aad2e 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #68fb86), color-stop(100%, #0aad2e)) !important;
    background: -webkit-linear-gradient(top, #68fb86 1%, #0aad2e 100%) !important;
    background: -o-linear-gradient(top, #68fb86 1%, #0aad2e 100%) !important;
    background: -ms-linear-gradient(top, #68fb86 1%, #0aad2e 100%) !important;
    background: linear-gradient(to bottom, #68fb86 1%, #0aad2e 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#68fb86', endColorstr='#0aad2e', GradientType=0) !important;
}

.bg-gradient-green-light {
    background: -moz-linear-gradient(top, #8bf577 0, #17cf23 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8bf577), color-stop(100%, #17cf23)) !important;
    background: -webkit-linear-gradient(top, #8bf577 0, #17cf23 100%) !important;
    background: -o-linear-gradient(top, #8bf577 0, #17cf23 100%) !important;
    background: -ms-linear-gradient(top, #8bf577 0, #17cf23 100%) !important;
    background: linear-gradient(to bottom, #8bf577 0, #17cf23 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8bf577', endColorstr='#17cf23', GradientType=0) !important;
}

.bg-gradient-green-aqua {
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
}

.bg-gradient-green-dark {
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
    background: -moz-linear-gradient(top, #47d464 0, #113c11 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #47d464), color-stop(100%, #113c11)) !important;
    background: -webkit-linear-gradient(top, #47d464 0, #113c11 100%) !important;
    background: -o-linear-gradient(top, #47d464 0, #113c11 100%) !important;
    background: -ms-linear-gradient(top, #47d464 0, #113c11 100%) !important;
    background: linear-gradient(to bottom, #47d464 0, #113c11 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#47d464', endColorstr='#113c11', GradientType=0) !important;
}

.bg-gradient-green-aqua {
    color: #fff !important;
    background: -moz-linear-gradient(top, #4bcbaa 0, #56c9f6 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4bcbaa), color-stop(100%, #56c9f6)) !important;
    background: -webkit-linear-gradient(top, #4bcbaa 0, #56c9f6 100%) !important;
    background: -o-linear-gradient(top, #4bcbaa 0, #56c9f6 100%) !important;
    background: -ms-linear-gradient(top, #4bcbaa 0, #56c9f6 100%) !important;
    background: linear-gradient(to bottom, #4bcbaa 0, #56c9f6 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4bcbaa', endColorstr='#56c9f6', GradientType=0) !important;
}

.bg-gradient-aqua {
    color: #fff !important;
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
    background: -moz-linear-gradient(top, #05dfeb 0, #0a8cbd 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #05dfeb), color-stop(100%, #0a8cbd)) !important;
    background: -webkit-linear-gradient(top, #05dfeb 0, #0a8cbd 100%) !important;
    background: -o-linear-gradient(top, #05dfeb 0, #0a8cbd 100%) !important;
    background: -ms-linear-gradient(top, #05dfeb 0, #0a8cbd 100%) !important;
    background: linear-gradient(to bottom, #05dfeb 0, #0a8cbd 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#05dfeb', endColorstr='#0a8cbd', GradientType=0) !important;
}

.bg-gradient-blue {
    color: #fff !important;
    background: #24d0f4 !important;
    background: -moz-linear-gradient(top, #24d0f4 0, #007aff 100%) !important;
    background: -webkit-linear-gradient(top, #24d0f4 0, #007aff 100%) !important;
    background: linear-gradient(to bottom, #24d0f4 0, #007aff 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#24d0f4', endColorstr='#007aff', GradientType=0) !important;
}

.bg-gradient-blue-inverse,
.bg-gradient-dark-blue-light {
    color: #fff !important;
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
}

.bg-gradient-blue-inverse {
    background: -moz-linear-gradient(top, #1c55d8 0, #27e1f8 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1c55d8), color-stop(100%, #27e1f8)) !important;
    background: -webkit-linear-gradient(top, #1c55d8 0, #27e1f8 100%) !important;
    background: -o-linear-gradient(top, #1c55d8 0, #27e1f8 100%) !important;
    background: -ms-linear-gradient(top, #1c55d8 0, #27e1f8 100%) !important;
    background: linear-gradient(to bottom, #1c55d8 0, #27e1f8 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1c55d8', endColorstr='#27e1f8', GradientType=0) !important;
}

.bg-gradient-blue-dark {
    color: #fff !important;
    background: #24d0f4 !important;
    background: -moz-linear-gradient(top, #24d0f4 0, #007aff 100%) !important;
    background: -webkit-linear-gradient(top, #24d0f4 0, #007aff 100%) !important;
    background: linear-gradient(to bottom, #24d0f4 0, #007aff 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#24d0f4', endColorstr='#007aff', GradientType=0) !important;
}

.bg-gradient-dark-blue-light {
    background: -moz-linear-gradient(top, #55acef 0, #358bbc 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #55acef), color-stop(100%, #358bbc)) !important;
    background: -webkit-linear-gradient(top, #55acef 0, #358bbc 100%) !important;
    background: -o-linear-gradient(top, #55acef 0, #358bbc 100%) !important;
    background: -ms-linear-gradient(top, #55acef 0, #358bbc 100%) !important;
    background: linear-gradient(to bottom, #55acef 0, #358bbc 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#55acef', endColorstr='#358bbc', GradientType=0) !important;
}

.bg-gradient-dark-blue,
.bg-gradient-purple {
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
    color: #fff !important;
}

.bg-gradient-dark-blue {
    background: -moz-linear-gradient(top, #6286d2 0, #254e86 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6286d2), color-stop(100%, #254e86)) !important;
    background: -webkit-linear-gradient(top, #6286d2 0, #254e86 100%) !important;
    background: -o-linear-gradient(top, #6286d2 0, #254e86 100%) !important;
    background: -ms-linear-gradient(top, #6286d2 0, #254e86 100%) !important;
    background: linear-gradient(to bottom, #6286d2 0, #254e86 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6286d2', endColorstr='#254e86', GradientType=0) !important;
}

.bg-gradient-purple {
    background: -moz-linear-gradient(top, #d26ffd 0, #7237b8 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d26ffd), color-stop(100%, #7237b8)) !important;
    background: -webkit-linear-gradient(top, #d26ffd 0, #7237b8 100%) !important;
    background: -o-linear-gradient(top, #d26ffd 0, #7237b8 100%) !important;
    background: -ms-linear-gradient(top, #d26ffd 0, #7237b8 100%) !important;
    background: linear-gradient(to bottom, #d26ffd 0, #7237b8 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d26ffd', endColorstr='#7237b8', GradientType=0) !important;
}

.bg-gradient-purple-inverse,
.bg-gradient-silver {
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
}

.bg-gradient-purple-inverse {
    background: -moz-linear-gradient(top, #111339 0, #7443b9 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #111339), color-stop(100%, #7443b9)) !important;
    background: -webkit-linear-gradient(top, #111339 0, #7443b9 100%) !important;
    background: -o-linear-gradient(top, #111339 0, #7443b9 100%) !important;
    background: -ms-linear-gradient(top, #111339 0, #7443b9 100%) !important;
    background: linear-gradient(to bottom, #111339 0, #7443b9 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#111339', endColorstr='#7443b9', GradientType=0) !important;
}

.bg-gradient-silver {
    color: #fff !important;
    background: -moz-linear-gradient(top, #dedee0 0, #808f94 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dedee0), color-stop(100%, #808f94)) !important;
    background: -webkit-linear-gradient(top, #dedee0 0, #808f94 100%) !important;
    background: -o-linear-gradient(top, #dedee0 0, #808f94 100%) !important;
    background: -ms-linear-gradient(top, #dedee0 0, #808f94 100%) !important;
    background: linear-gradient(to bottom, #dedee0 0, #808f94 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dedee0', endColorstr='#808f94', GradientType=0) !important;
}

.bg-gradient-black {
    color: #fff !important;
    background: url('data:image/svg+xml !important;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+') !important;
    background: -moz-linear-gradient(top, #141416 0, #414143 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #141416), color-stop(100%, #414143)) !important;
    background: -webkit-linear-gradient(top, #141416 0, #414143 100%) !important;
    background: -o-linear-gradient(top, #141416 0, #414143 100%) !important;
    background: -ms-linear-gradient(top, #141416 0, #414143 100%) !important;
    background: linear-gradient(to bottom, #141416 0, #414143 100%) !important;
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#141416', endColorstr='#414143', GradientType=0) !important;
}
