
$default-color  : #007aff;
$success-color  : #4CD964;
$info-color     : #5AC8FA;
$warning-color  : #FF9500;
$danger-color   : #FF3B30;
$purple-color   : #5856D6;
$yellow-color   : #FC0;
$pink-color     : #FF2D55;
$inverse-color  : #000;
