
body {
    table.dataTable thead {
        .sorting_asc {
            &:active:after,
            &:after,
            &:focus:after,
            &:hover:after {
                opacity: 1 !important;
            }
        }
        .sorting_desc {
            &:active:after,
            &:after,
            &:focus:after,
            &:hover:after {
                opacity: 1 !important;
            }
        }
        .sorting:after,
        .sorting_desc:after {
            content: "";
        }
        .sorting_asc:after {
            content: "";
        }
    }
    div {
        &.DTCR_pointer {
            width: 2px;
            background: #007aff;
        }
        &.dt-autofill-handle,
        &.dt-autofill-select {
            background: #007aff;
        }
        &.dt-autofill-handle {
            width: 7px;
            height: 7px;
        }
        &.dt-autofill-select {
            &.top {
                margin-top: 0;
            }
            &.bottom {
                margin-top: -2px;
            }
            &.left {
                margin-left: -1px;
            }
            &.right {
                margin-left: -2px;
            }
            &.top {
                height: 2px;
            }
        }
    }
}

div.dt-autofill-select.bottom {
    height: 2px;
}

body div.dt-autofill-select.left,
div.dt-autofill-select.right {
    width: 2px;
}

body {
    div.dt-autofill-list {
        box-shadow: none;
        border: none;
        padding: 0;
        div {
            &.dt-autofill-question {
                padding: 5px 15px;
                border-color: #e0e0e0;
            }
            &.dt-autofill-button {
                width: 1%;
                padding: 5px;
            }
        }
        ul li {
            display: table;
            &:first-child {
                border-radius: 6px 6px 0 0;
            }
            &:last-child {
                border-radius: 0 0 6px 6px;
            }
        }
    }
    table.dataTable {
        &.collapsed {
            border-right: none;
            td.child {
                border-right: 1px solid #e0e0e0;
            }
        }
        &.dtr-inline.collapsed>tbody>tr {
            > {
                td:first-child:before,
                th:first-child:before {
                    content: '\e61a';
                    border: none;
                    font-weight: 400;
                    line-height: 1;
                    background: 0 0;
                    box-shadow: none;
                    color: #000;
                    top: 8px;
                    width: 30px;
                    text-align: center;
                    left: 0;
                }
            }
            &.parent> {
                td:first-child:before,
                th:first-child:before {
                    content: '\e622';
                    border: none;
                    font-weight: 400;
                    line-height: 1;
                    background: 0 0;
                    box-shadow: none;
                    color: #000;
                    top: 8px;
                    width: 30px;
                    text-align: center;
                    left: 0;
                }
            }
        }
    }
    tr.dt-rowReorder-moving {
        outline: #222 solid 2px;
        outline-offset: -1px;
    }
    table.dataTable tbody>tr {
        &.selected {
            background-color: #007aff;
            outline: #007aff solid 2px;
            outline-offset: -1px;
            td {
                border-color: #007aff;
            }
        }
        >.selected {
            background-color: #007aff;
            outline: #007aff solid 2px;
            outline-offset: -1px;
        }
        >.selected {
            border-color: #007aff;
        }
    }
    div.dt-button-info {
        border: none;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
        top: 59px;
        right: 15px;
        left: auto;
        text-align: left;
        width: 320px;
        margin: 0;
        padding: 15px 15px 15px 61px;
        border-radius: 8px;
        background: #f0f0f0;
        -webkit-animation-name: bounceInRight;
        animation-name: bounceInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        h2 {
            color: #504e4d;
            font-size: 14px;
            font-weight: 600;
            background: 0 0;
            padding: 0;
            border: none;
        }
        p {
            font-weight: 500;
            color: #504e4d;
        }
        >div {
            padding: 0;
        }
        &:before {
            content: "\e6a3";
            font-weight: 400;
            position: absolute;
            left: 15px;
            top: 15px;
            display: block;
            width: 36px;
            height: 36px;
            border-radius: 6px;
            line-height: 36px;
            text-align: center;
            overflow: hidden;
            color: #fff;
            font-size: 24px;
            background: #8E8E93;
        }
    }
}


table.dataTable td.focus {
    outline: #007aff solid 2px;
}

body {
    .table>tfoot>tr>th {
        border-bottom: none;
    }
    table.dataTable thead .sorting {
        &:after {
            opacity: 0;
        }
        &:active:after,
        &:focus:after,
        &:hover:after {
            opacity: 0.5;
        }
    }
}

@media (max-width: 767px) {
    body .dataTables_wrapper>.row .pull-right {
        float: none !important;
        margin: 0 !important;
    }
}