
.error-page {
    max-width: 720px;
    margin: 0 auto;
    position: relative;
    padding: 100px 0;
    font-size: 14px;
    text-align: center;
    .error-icon i {
        font-size: 128px;
        opacity: 0.25;
    }
    h1 {
        font-size: 72px;
        font-weight: 700;
    }
    h3 {
        font-size: 18px;
        font-weight: 400;
    }
}
