.project {
    padding: 15px;
    .project-title {
        margin: 0 0 2px;
        font-size: 14px;
    }
    .project-desc {
        font-size: 11px;
        margin: 0 0 10px;
        color: #8A8A8F;
    }
    .progress {
        margin: 0 0 2px;
    }
    .progress-text {
        font-size: 10px;
    }
}

.project .project-left {
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    i {
        line-height: 44px;
        font-size: 28px;
        display: block;
    }
    +.project-info {
        margin-left: 59px;
    }
}
