.search-input {
    position: relative;
    max-width: 520px;
    margin-bottom: 15px;
}

.search-close {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -11px;
    width: 24px;
    height: 24px;
    border-radius: 18px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
    background: #C8C7CC;
    &:focus,
    &:hover {
        text-decoration: none;
        background: #8A8A8F;
        color: #fff;
    }
}

.search-tab {
    list-style-type: none;
    margin: 0 -25px;
    padding: 0 25px;
    border-bottom: 1px solid #C8C7CC;
    white-space: nowrap;
    >li {
        a {
            display: block;
            padding: 10px;
            color: #666;
            text-decoration: none;
            margin-bottom: -1px;
            border-bottom: 1px solid transparent;
            font-weight: 600;
            &:focus,
            &:hover {
                border-bottom-color: #000;
            }
        }
        &.active a {
            border-bottom-color: #000;
            color: #000;
        }
    }
}

.search-result-list {
    list-style-type: none;
    margin: -1px 0 0;
    padding: 0;
    color: #333;
    >li {
        padding: 20px 0;
        margin: 0;
        border-top: 1px solid #C8C7CC;
        border-bottom: 1px solid #C8C7CC;
        &:after,
        &:before {
            content: '';
            display: table;
            clear: both;
        }
        +li {
            margin-top: -1px;
        }
    }
    .search-result-media {
        width: 160px;
        height: 120px;
        float: left;
        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
        +.search-result-content {
            margin-left: 180px;
        }
    }
    h3 {
        margin: 0 0 5px;
        font-size: 16px;
        font-weight: 600;
        a {
            color: #000;
        }
    }
}

.search-tab>li {
    display: inline-block;
}

@media (max-width: 767px) {
    .search-tab {
        margin: 0 -15px;
        padding: 0 15px;
    }
    .search-result-list .search-result-media {
        width: 90px;
        height: 75px;
        +.search-result-content {
            margin-left: 105px;
        }
    }
}