@import 'content';
@import 'header';
@import 'searchbar';
@import 'sidebar';
@import 'dropdown-menu';
@import 'button';
@import 'caret';
@import 'layout';
@import 'text';
@import 'panel';

.bg-gradient-blue-purple,
.bg-theme,
.media-list.media-stat .media .media-icon {
    color: #fff !important;
    background: #7e68f8 !important;
    background: -moz-linear-gradient(-45deg, #7e68f8 0, #609cfc 100%) !important;
    background: -webkit-linear-gradient(-45deg, #7e68f8 0, #609cfc 100%) !important;
    background: linear-gradient(135deg, #7e68f8 0, #609cfc 100%) !important;
}

.dropdown-menu .setting .setting-info .switcher {
    float: right;
    margin-left: 10px;
}

.btn-primary .badge,
.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
    color: #007AFF;
}

.nav-pills>li.active>a {
    background: #007aff;
    &:focus,
    &:hover {
        background: #007aff;
    }
}


.friend-list {
    margin: -1px;
    list-style-type: none;
}

.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img{
    max-width: 100%;
}

.checkbox input+label:before,
.checkbox-inline input+label:before {
    background: 0 0;
}
